<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Chronon</title>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='fav.png') }}"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

      <div>
        {% block body %}{% endblock %}
      </div>

      <script async src="{{ url_for('static', filename='autocomplete.js') }}"></script>
      <script async src="{{ url_for('static', filename='speech.js') }}"></script>
      <script async src="{{ url_for('static', filename='blockedInput.js') }}"></script>

    </body>
</html>